#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-size: 10px;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #110101;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    padding: 3rem;
}

form input {
    background-color: rgba(128, 128, 128, 0.475);
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

form label {
    margin: 0.25rem 0rem;
    font-size: 1.25rem;
}

form button {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.results {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.15rem;
    margin-top: -1.5rem;
}

h3 {
    color: white;
    font-size: 1.25rem;
}
